.ativo_0 p {
    background-color: #D9534F;
    border-radius: 5px;
    border-bottom: 2px solid;
    color: transparent;
    margin: 10px 30px 0px 30px;
    height: 15px;
}

.ativo_1 p {
    background-color: #4ddd87;
    border-radius: 5px;
    border-bottom: 2px solid;
    color: transparent;
    margin: 10px 30px 0px 30px;
    height: 15px;
}


.ativoEmoji_0 p .emojiNaoAtivo {
    font-size: 30px;
    color: #D9534F;

}

.ativoEmoji_0 p .emojiAtivo {
    display: none;

}

.ativoEmoji_1 p .emojiAtivo {
    font-size: 30px;
    color: #4ddd87;

}

.ativoEmoji_1 p .emojiNaoAtivo {
    display: none;

}